@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects {
    &__bio-img {
      height: 40vh;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .projects,
  .about {
    footer {
      transform: rotate(0) translate(0);
    }

    .social-icons {
      display: flex;
      flex-direction: row;
    }
  }

  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .about {
    .jobs {
      &__job {
        h2,
        h3 {
          margin: 0.7rem 0;
        }
        h6 {
          font-size: 0.9rem;
          margin: 0.6rem 0;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@include media-xl {
  .projects__bio-img {
    height: 50vh;
  }

  .about {
    &__bio {
      width: 60%;
      line-height: 1.3;
    }

    .jobs {
      width: 40vw;
    }
  }
}
